body {
	font-family: 'Lobster', sans-serif;
	background-color: #222;
	margin: 0px;
	overflow: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
canvas {
	width:100%;
	height:100%;
	transition: opacity 1000ms;
	position: absolute;
	z-index: -1;
}
h1 {
	font-weight: 800;
	font-size: 3.05em;
	color: #e74a4a;
	text-transform:uppercase;
	margin:0;
	line-height: 1;
	font-weight: 100;
}
.info {
	position: absolute;
	bottom: 2.1em;
	right: 1em;	
}
p {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.05em;
}
.credits {
    position: absolute;
    bottom: 0.5em;
    left: 0;
	padding: 0 1.6em;
    font-size: 0.7em;
    color: #777;
    text-align: left;
    width: 100%;
}
a {
    color: #e74a4a;
}
a:hover {
    color: #ff5454;
    text-decoration: none;
}

.info {
	padding: 0 2em;
	text-align:center;
}
.arrow-prev:after, .arrow-next:after {
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    position: absolute;
    top: 50%;
    margin-top: -1em;
}
.arrow-prev:after {
	left: 0;
    border-width: 0.7em 1em 0.7em 0;
    border-color: transparent rgba(255, 0, 0, 0.67) transparent transparent;
}
.arrow-next:after {
    right: 0;
    border-width: 0.7em 0 0.7em 1em;
    border-color: transparent transparent transparent rgba(255, 0, 0, 0.67);
}
.arrow-prev, .arrow-next {
    position: absolute;
    top: 0;
    display: block;
    width: 2em;
    height: 100%;
    overflow: hidden;
    text-indent: 100px;
}
.arrow-prev {
    left: 0;
}
.arrow-next {
    right: 0;
}
.message {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -0.5em;
	font-size: 1.7em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(231, 74, 74, 0.65);
	padding: 0 6%;
	pointer-events:none;
}
.score {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	font-size:2em;
	opacity:0;
	transition:1s;
}
.timer {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-size:2em;
	opacity:0;
	transition:1s;
}
.score-message {
	display:block;
	-webkit-transform: translateX( 0 );
	   -moz-transform: translateX( 0 );
	    -ms-transform: translateX( 0 );
	     -o-transform: translateX( 0 );
	        transform: translateX( 0 );
	opacity:1;
	-webkit-transition:opacity 500ms ease-out, -webkit-transform 500ms ease-out;
	   -moz-transition:opacity 500ms ease-out, -moz-transform 500ms ease-out;
	    -ms-transition:opacity 500ms ease-out, -ms-transform 500ms ease-out;
	     -o-transition:opacity 500ms ease-out, -o-transform 500ms ease-out;
	        transition:opacity 500ms ease-out, transform 500ms ease-out;
}
.score-message span {
	text-shadow: 0.07em 0.06em 0 rgba(255,255,255,0.1);
}
.score-message.fadein {
	-webkit-transform: translateX( 50% );
	   -moz-transform: translateX( 50% );
	    -ms-transform: translateX( 50% );
	     -o-transform: translateX( 50% );
	        transform: translateX( 50% );
	opacity:0;
}
.score-message.fadeout {
	-webkit-transform: translateX( -50% );
	   -moz-transform: translateX( -50% );
	    -ms-transform: translateX( -50% );
	     -o-transform: translateX( -50% );
	        transform: translateX( -50% );
	opacity:0;
	-webkit-transition:opacity 100ms ease-in, -webkit-transform 100ms ease-in;
	   -moz-transition:opacity 100ms ease-in, -moz-transform 100ms ease-in;
	    -ms-transition:opacity 100ms ease-in, -ms-transform 100ms ease-in;
	     -o-transition:opacity 100ms ease-in, -o-transform 100ms ease-in;
	        transition:opacity 100ms ease-in, transform 100ms ease-in;
}
.win {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 43%;
    color: #fff;
	display:none;
    margin-top: -3em;
    font-size: 1.5em;
    -webkit-transition: opacity 1000ms;
       -moz-transition: opacity 1000ms;
        -ms-transition: opacity 1000ms;
         -o-transition: opacity 1000ms;
            transition: opacity 1000ms;
}
.win-text {
    font-weight: 400;
    font-size: 1.6em;
    max-width: 80%;
    margin: 0 auto 1em;
    text-shadow: 0.1em 0.1em 0 rgba(0, 0, 0, 0.46);
}
.win strong {
    color: #e74a4a;
}
.win-button {
    border: 4px solid #e74a4a;
    padding: 0.5em 1.2em;
    display: inline-block;
    margin: 1.4em 0.3em;
    text-transform: uppercase;
    width: 7em;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition: -webkit-transform 500ms;
       -moz-transition: -moz-transform 500ms;
        -ms-transition: -ms-transform 500ms;
         -o-transition: -o-transform 500ms;
            transition: transform 500ms;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.win-button:hover {
    background: #e74a4a;
    color: #222;
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}
h1.blink {}
.npm-scb-now-playing {
	left: 0;
	padding-left: 138px;
	width: 100%;
}
.npm-scb-wrap {
	width: 100%;
}
.npm-scb-wrap p {
	letter-spacing:0;
}
.npm-scb-info {
	max-width: 300px;
	width: 100%;
	left: 0;
	padding-left: 120px;
	font-size: 0.9em;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
	transform: scale(1);
	opacity: 1;
    font-size: 1.3em;
	display:none;
}
.countdown3, .countdown2, .countdown1, .countdownGo {
	position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
	transform: scale(1);
	opacity: 1;
    font-size: 5em;
    color: rgba(0, 0, 0, 1);;
	display:none;
	margin-top: 25%;
}
.countdown2{font-size: 6.5em;}
.countdown1{font-size: 8em;}
.countdownGo{font-size: 9.5em;}
.transform-transition {
	-webkit-transition: -webkit-transform 1000ms, opacity 1000ms;
	   -moz-transition: -moz-transform 1000ms, opacity 1000ms;
	    -ms-transition: -ms-transform 1000ms, opacity 1000ms;
	     -o-transition: -o-transform 1000ms, opacity 1000ms;
	        transition: transform 1000ms, opacity 1000ms;
}
.title a {
    text-decoration: none;
}
.hide {
	-webkit-transform: scale(0.1);
	   -moz-transform: scale(0.1);
	    -ms-transform: scale(0.1);
	     -o-transform: scale(0.1);
	        transform: scale(0.1);
	opacity: 0;
}
.title-logo {
    max-width: 95%;
	-webkit-animation: grow 10000ms;
	   -moz-animation: grow 10000ms;
	    -ms-animation: grow 10000ms;
	     -o-animation: grow 10000ms;
	        animation: grow 10000ms;
    margin-top: 10%;
    max-height: 40%;
}
.title-left, .title-right {
	position:absolute;
	width:50%;
	bottom: 6%;
	height: 38%;
}
.title-left img, .title-right img {
    padding-bottom: 2em;
    margin-top: 12%;
    height: 57%;
    width: auto;
}
.title-left {
	left:0;
}
.title-right {
	right:0;
}
.title-webgl-error {
	text-transform:none;
	letter-spacing:0;
	max-width:80%;
	margin:8% auto 0;
	display:none;
}
.title-webgl-error p {
	margin:1em 0;
}
.title-right img {
	-webkit-animation:tiltA 10s infinite ease-in-out;
	   -moz-animation:tiltA 10s infinite ease-in-out;
	    -ms-animation:tiltA 10s infinite ease-in-out;
	     -o-animation:tiltA 10s infinite ease-in-out;
	        animation:tiltA 10s infinite ease-in-out;
}
.title-credits {
	color: rgba(255, 255, 255, 0.74);
	padding-top: 0.9em;
	position: relative;
	z-index: 1;
}
.info-keys {
	padding-bottom: 2em;
    margin-top: 12%;
    height: 57%;
    width: auto;
}
.menu {
    -webkit-transform: translateX(-300px);
       -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
         -o-transform: translateX(-300px);
            transform: translateX(-300px);
    transition: 500ms;
    width: 300px;
    position: absolute;
    height: 100%;
    border-right: 3px solid #324250;
    background: #272222;
    padding: 1em;
	z-index:1;
}
.menu-open .menu {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.19);
}
.container-blocker {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	cursor: pointer;
}
.menu-open .container-blocker {
	display:block;
}
.menu-open .burger-wrapper {
    /* transform: translateX(0); */
}
.menu-open .container {
    -webkit-transform: translateX(300px);
       -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
         -o-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0.3;
}
.container {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);
	height: 100%;
	transition: transform 500ms, opacity 500ms;
	width: 100%;
	position: absolute;
	z-index:0;
	cursor: url(assets/images/haloCR.cur), crosshair;
}
.burger-wrapper {
	padding: 1.5em 0em;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translate(3.4em, 0.4em);
	   -moz-transform: translate(3.4em, 0.4em);
	    -ms-transform: translate(3.4em, 0.4em);
	     -o-transform: translate(3.4em, 0.4em);
	        transform: translate(3.4em, 0.4em);
	-webkit-transition: -webkit-transform 	500ms;
	   -moz-transition: -moz-transform 		500ms;
	    -ms-transition: -ms-transform 		500ms;
	     -o-transition: -o-transform 		500ms;
	        transition: transform 			500ms;
}
.burger { 
	display:block;
	position:relative;
	height:0.3em;
	width:2em;
	background:#fff;
	transition: all 0.66s;
	cursor: pointer;
}
.burger:after {
	content:'';
	position:absolute;
	top:0.4em;
	height:0.3em;
	width:1em;
	background:#fff;
	-webkit-transform:rotate(225deg);
	   -moz-transform:rotate(225deg);
	    -ms-transform:rotate(225deg);
	     -o-transform:rotate(225deg);
	        transform:rotate(225deg);
	transition: all 0.66s;
}
.burger:before {
	content:'';
	position:absolute;
	top:-0.4em;
	height:0.3em;
	width:1em;
	background:#fff;
	-webkit-transform:rotate(-225deg);
	   -moz-transform:rotate(-225deg);
	    -ms-transform:rotate(-225deg);
	     -o-transform:rotate(-225deg);
	        transform:rotate(-225deg);
	-webkit-transition: all 0.66s;
	   -moz-transition: all 0.66s;
	    -ms-transition: all 0.66s;
	     -o-transition: all 0.66s;
	        transition: all 0.66s;
}
.npm-scb-white {
	position: absolute;
	width: 100%;
	left: 3em;
	-webkit-transition: -webkit-transform 500ms;
	   -moz-transition: -moz-transform 500ms;
	    -ms-transition: -ms-transform 500ms;
	     -o-transition: -o-transform 500ms;
	        transition: transform 500ms;
}
.menu-open .npm-scb-white {
    -webkit-transform: translateX(300px);
       -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
         -o-transform: translateX(300px);
            transform: translateX(300px);
}
.menu-open .burger {
	background:transparent;
}
.menu-open .burger:before {
	top: 0.3em;
	right: -0.3em;
	-webkit-transform:rotate(-225deg);
	   -moz-transform:rotate(-225deg);
	    -ms-transform:rotate(-225deg);
	     -o-transform:rotate(-225deg);
	        transform:rotate(-225deg);	
}
.menu-open .burger:after {
	top:-0.3em;
	right: -0.3em;
	-webkit-transform:rotate(225deg);
	   -moz-transform:rotate(225deg);
	    -ms-transform:rotate(225deg);
	     -o-transform:rotate(225deg);
	        transform:rotate(225deg);	
}
.menu-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 1em;
}
.menu-bottom-mute {
	text-align:right;
}
.menu-bottom-mute img {
	width:60px;
}
.menu-bottom-reset {
	position: absolute;
	bottom:1.3em;
	left:1em;
}
.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -ms-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-ms-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes tiltA {
    0%		{transform: rotateY(-30deg) rotateX(-20deg)}
    16%		{transform: rotateY( 30deg) rotateX(  0deg)}
    33%		{transform: rotateY(-30deg) rotateX( 30deg)}
    50%		{transform: rotateY( 30deg) rotateX( 10deg)}
    66%		{transform: rotateY(-30deg) rotateX(-10deg)}
    82%		{transform: rotateY( 30deg) rotateX( 10deg)}
    100%	{transform: rotateY(-30deg) rotateX(-20deg)}
}
@-moz-keyframes tiltA {
    0%		{transform: rotateY(-30deg) rotateX(-20deg)}
    16%		{transform: rotateY( 30deg) rotateX(  0deg)}
    33%		{transform: rotateY(-30deg) rotateX( 30deg)}
    50%		{transform: rotateY( 30deg) rotateX( 10deg)}
    66%		{transform: rotateY(-30deg) rotateX(-10deg)}
    82%		{transform: rotateY( 30deg) rotateX( 10deg)}
    100%	{transform: rotateY(-30deg) rotateX(-20deg)}
}
@-ms-keyframes tiltA {
    0%		{transform: rotateY(-30deg) rotateX(-20deg)}
    16%		{transform: rotateY( 30deg) rotateX(  0deg)}
    33%		{transform: rotateY(-30deg) rotateX( 30deg)}
    50%		{transform: rotateY( 30deg) rotateX( 10deg)}
    66%		{transform: rotateY(-30deg) rotateX(-10deg)}
    82%		{transform: rotateY( 30deg) rotateX( 10deg)}
    100%	{transform: rotateY(-30deg) rotateX(-20deg)}
}
@-o-keyframes tiltA {
    0%		{transform: rotateY(-30deg) rotateX(-20deg)}
    16%		{transform: rotateY( 30deg) rotateX(  0deg)}
    33%		{transform: rotateY(-30deg) rotateX( 30deg)}
    50%		{transform: rotateY( 30deg) rotateX( 10deg)}
    66%		{transform: rotateY(-30deg) rotateX(-10deg)}
    82%		{transform: rotateY( 30deg) rotateX( 10deg)}
    100%	{transform: rotateY(-30deg) rotateX(-20deg)}
}
@keyframes tiltA {
    0%		{transform: rotateY(-30deg) rotateX(-20deg)}
    16%		{transform: rotateY( 30deg) rotateX(  0deg)}
    33%		{transform: rotateY(-30deg) rotateX( 30deg)}
    50%		{transform: rotateY( 30deg) rotateX( 10deg)}
    66%		{transform: rotateY(-30deg) rotateX(-10deg)}
    82%		{transform: rotateY( 30deg) rotateX( 10deg)}
    100%	{transform: rotateY(-30deg) rotateX(-20deg)}
}

@media screen and (min-width:1200px) {
	.info {
		font-size:1.3em;
	}
}

@media screen and (max-width: 600px) {
	.win-text {
	    font-size: 1em;
	}
	.win {
	    top: 4em;
	    margin-top: 0;
	}
	.win-button {
	    font-size: 0.8em;
	}
	.score {
		text-align: left;
		width:100%;
		font-size: 1em;
	}
	.timer {
		text-align: left;
		width:100%;
		font-size: 1em;
	}
	.info {
		font-size:0.6em;
		width:100%;
		text-align: left;
		right:0;
	}
	.credits {
		right:0;
		text-align: left;
		padding: 0 19px;
		font-size: 0.6em;
	}

	.arrow-prev:after {
	    right: 0;
		left: auto;
	}
	.arrow-next:after {
	    left: 0;
		right: auto;
	}	
	.npm-scb-now-playing {
		display:none;
	}
}
@-webkit-keyframes grow {  
	0% {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@-moz-keyframes grow {  
	0% {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@-ms-keyframes grow {  
	0% {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@-o-keyframes grow {  
	0% {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@keyframes grow {  
	0% {transform: scale(0.7);}
	100% {transform: scale(1);}
}

.menu-title {
    color: rgba(208, 68, 68, 0.38);
    font-size: 4em;
    text-align: center;
    font-weight: normal;
    line-height: 0.7;
}
.menu-middle {
    position: absolute;
    left: 0;
    right: 0;
    top: 6.4em;
    bottom: 5em;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em;
    background: rgba(52, 39, 39, 1);
    border-top: 1px solid #1B1E1F;
    border-bottom: 1px solid rgba(231, 74, 74, 0.38);
}
.menu-level-name {
    margin: 0;
    font-weight: normal;
    font-size: 1.6em;
}
.menu-level-description {
    color: rgba(231, 133, 133, 0.88);
    font-size: 1.2em;
}

.score-bar {
    position: relative;
    border: 1px solid rgba(231, 74, 74, 0.38);
    padding: 0.15em 0.15em;
    margin-top: 0.5em;
    background: #272020;
}
.score-bar-game {
	width: 250px;
	color: #e74a4a;
	font-size: 0.75em;
}
.score-bar-bar {
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	-webkit-transition: width 1000ms, background-color 500ms;
	   -moz-transition: width 1000ms, background-color 500ms;
	    -ms-transition: width 1000ms, background-color 500ms;
	     -o-transition: width 1000ms, background-color 500ms;
	        transition: width 1000ms, background-color 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.545, 1.385, 0.510, 1.005); 
	   -moz-transition-timing-function: cubic-bezier(0.545, 1.385, 0.510, 1.005); 
	     -o-transition-timing-function: cubic-bezier(0.545, 1.385, 0.510, 1.005); 
	        transition-timing-function: cubic-bezier(0.545, 1.385, 0.510, 1.005);
}
.score-enemies-label {
       color: #e74a4a;
       font-weight:100;
}
.score-enemies-value {
       color:#fff;
       text-shadow: 0.07em 0.06em 0 #1E6DB3;
       font-size: 1.2em;
       line-height: 1;
}
.timer-label {
       color: #e74a4a;
       font-weight:100;
}
.timer-value {
       color:#fff;
       text-shadow: 0.07em 0.06em 0 #1E6DB3;
       font-size: 1.2em;
       line-height: 1;
}
.score-bar-number {
    position: relative;
    padding: 0.1em 0.3em;
    font-size: 0.9em;
}
a.menu-level {
    display: block;
    border: 1px solid rgba(118, 57, 57, 1);
    margin: 1.3em 0;
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.22);
    background: #442727;
    -webkit-transition: -webkit-transform 200ms;
       -moz-transition: -moz-transform 200ms;
        -ms-transition: -ms-transform 200ms;
         -o-transition: -o-transform 200ms;
            transition: transform 200ms;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
a.menu-level-titles {
	text-align: center;
	padding: 0.4em;
	margin-top: 0.5em;
}
.score-bar-bar-wrapper {
    position: relative;
}

.score-bar-left {
    color: rgba(34, 38, 39, 0.75);
}
.score-bar-right {
	text-align:right;
}

a.menu-level:hover {
    -webkit-transform: scale(1.015);
       -moz-transform: scale(1.015);
        -ms-transform: scale(1.015);
         -o-transform: scale(1.015);
            transform: scale(1.015);
}
@media (max-width:400px) {
	.menu {
	    font-size: 0.85em;
	}
	.menu-open .burger-wrapper {
	    -webkit-transform: translateX(-0.1em);
	       -moz-transform: translateX(-0.1em);
	        -ms-transform: translateX(-0.1em);
	         -o-transform: translateX(-0.1em);
	            transform: translateX(-0.1em);
	}
	.menu-title {
	    text-align: left;
	    font-size: 3.8em;
	}
	.menu-middle {
	    top: 4.8em;
	    bottom: 3.5em;
	}
	.menu-bottom-mute img {
	    width: 35px;
	    position: relative;
	    top: 4px;
	}
}

.win-cta {
    text-transform: none;
    margin: 1em;
    font-size: 0.8em;
}